// Place all the styles related to the pages controller here.
.quest_submit {
text-align: center;
}

h1 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.answer_area {
    text-align: center;
    background-color: yellow;
    font-family: Arial, Helvetica, sans-serif;
}

.question_area {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 50px;
}
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
